name: Metrics
on:
  schedule:
    - cron: "10 0 * * *"
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          filename: github-metrics.svg
          base: header, activity, community, repositories, metadata
          plugin_lines: yes
          plugin_languages: yes
          plugin_languages_details: lines, bytes-size, percentage
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 14
          plugin_followup: yes
          plugin_followup_sections: user
          plugin_projects: yes
          plugin_achievements: yes
          plugin_achievements_display: compact
          config_timezone: Asia/Tokyo
